@import "../../scss/abstracts/_variables.scss";
@import "../../scss//abstracts/mixins";

.posts {
  //  flex: 9;
  display: flex;
  flex-direction: column;
  //  flex-wrap: wrap;
  margin: 20px;

  @include respond-to(sm) {
    flex-wrap: wrap;
    flex: 2;
  }

  @include respond-to(md) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 70%;
  }
}
